<a href="https://colab.research.google.com/github/akolli5/aditya-beingzero/blob/master/DMproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#lets import packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
#now lets import files from kaggle (COVID-19)
from google.colab import files
uploaded=files.upload()

Saving covid_19_india.csv to covid_19_india.csv

In [0]:
import io

df=pd.read_csv(io.BytesIO(uploaded['covid_19_india.csv']))

In [11]:
#head represents top 5 snos of that dataset
df.head()

   Sno      Date     Time  ... Cured Deaths Confirmed
0    1  30/01/20  6:00 PM  ...     0      0         1
1    2  31/01/20  6:00 PM  ...     0      0         1
2    3  01/02/20  6:00 PM  ...     0      0         2
3    4  02/02/20  6:00 PM  ...     0      0         3
4    5  03/02/20  6:00 PM  ...     0      0         3

[5 rows x 9 columns]

In [12]:
#information about particular dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2486 entries, 0 to 2485
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       2486 non-null   int64
 1   Date                      2486 non-null   object
 2   Time                      2486 non-null   object
 3   State/UnionTerritory      2486 non-null   object
 4   ConfirmedIndianNational   2486 non-null   object
 5   ConfirmedForeignNational  2486 non-null   object
 6   Cured                     2486 non-null   int64
 7   Deaths                    2486 non-null   int64
 8   Confirmed                 2486 non-null   int64
dtypes: int64(4), object(5)
memory usage: 174.9+ KB

In [13]:

df=df.drop(['Sno',"Date",'Time'],axis=1)
from sklearn.preprocessing import LabelEncoder
L = LabelEncoder()
for col in df.columns:
  if df[col].dtype==np.dtype('O'):
    df[col]=pd.Series(L.fit_transform(df[col].values))+1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2486 entries, 0 to 2485
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State/UnionTerritory      2486 non-null   int64
 1   ConfirmedIndianNational   2486 non-null   int64
 2   ConfirmedForeignNational  2486 non-null   int64
 3   Cured                     2486 non-null   int64
 4   Deaths                    2486 non-null   int64
 5   Confirmed                 2486 non-null   int64
dtypes: int64(6)
memory usage: 116.7 KB

In [14]:
#columns of dataset
df.columns

Index(['State/UnionTerritory', 'ConfirmedIndianNational',
       'ConfirmedForeignNational', 'Cured', 'Deaths', 'Confirmed'],
      dtype='object')

In [15]:
#checking the percentage of missing values
percent_missing=df.isnull().sum()*100/len(df)
missing_value_df=pd.DataFrame({'column_name':df.columns,'percent_missing':percent_missing})
print(round(missing_value_df,2))

                                       column_name  percent_missing
State/UnionTerritory          State/UnionTerritory              0.0
ConfirmedIndianNational    ConfirmedIndianNational              0.0
ConfirmedForeignNational  ConfirmedForeignNational              0.0
Cured                                        Cured              0.0
Deaths                                      Deaths              0.0
Confirmed                                Confirmed              0.0

In [0]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(df[['ConfirmedIndianNational',
                                                   'ConfirmedForeignNational', 
                                                   'Cured', 'Deaths']], 
                                               df['Confirmed'], random_state=0)

In [18]:
print("X_train shape: " + str(X_train.shape))
print("y_train shape: " + str(y_train.shape))
print("X_test shape: " + str(X_test.shape))
print("y_test shape: " + str(y_test.shape))

X_train shape: (1864, 4)
y_train shape: (1864,)
X_test shape: (622, 4)
y_test shape: (622,)

In [20]:
from sklearn.neighbors import KNeighborsClassifier

#Checking the accuracy of model for k=1
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(X_train, y_train)
print("Test score for k=1: " + str(round((knn.score(X_test,y_test)*100), 4)) + '%')

Test score for k=1: 29.9035%

In [0]:
#Using elbow method to find a good value of 'k' and thus improve the accuracy of the model
error_rate = []

In [0]:
for k in range(1,40):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train,y_train)
    y_pred_k = knn.predict(X_test)
    error_rate.append(np.mean(y_pred_k != y_test))

In [24]:
#from the graph it is clear that the optimum value of k occurs when the error is minimum
#so the value k = 5 will give maximum accuracy
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, y_train)
print("Test score for k=5: " + str(round((knn.score(X_test,y_test)*100), 4)) + '%')

Test score for k=5: 26.3666%